.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.movieImage {
    border-radius: 15px;
}

.movieDetails {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}
.back {
    display: flex;
    justify-content: center;
}
.arrow {
    display: flex;
    font-size: 20px;
}
.boton {
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}